@font-face {
    font-family: 'Hestina';
    src: url('../css/fonts/Hestina.otf');
}

@font-face {
    font-family: 'Anton';
    src: url('../css/fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('../css/fonts/Manrope-Light.ttf');
}