/* reset css */
*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box;}

html,body{ height: 100%; }

img{ max-width: 100%; }

a{ text-decoration: none; }

ul { list-style: none; }






/* header */
header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E52818;
    padding: 0 9%;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo img{
    width: 49px;
}

header .logo a{
    color: #EBEAE3;
    font-family: "Hestina", sans-serif;
    font-size: 2.4em;
}

header nav ul{
    display: flex;
}

header nav li a{
    padding: 10px;
    color: #EBEAE3;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-size: 1.2em;
    transition: all .5s;
}

header nav li.active a,
header nav li a:hover{
    color: #FF9E19;
}

/*************************************************
	Botão para abrir e fechar menu animado 
*************************************************/
#btn-menu{
	padding: 0 4px;
	cursor: pointer;
    display: none;
}

#btn-menu [class*="_"]{
	display: block;
    width: 30px;
	height: 2px /*3px*/;
    margin: 5px 0px;
	background: #EBEAE3;
	transition: all .35s;
}

.btnMenuActive ._1{
	transform: translateY(7px) rotate(45deg);
}

.btnMenuActive ._2{
	opacity: 0;
}

.btnMenuActive ._3{
	transform: translateY(-7px) rotate(-45deg);
}





/* .hero */
.hero{
    height: calc(100vh - 90px);
    display: flex;
    background-color: #E52818;
}

.hero::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: calc(100vh - 90px);
    background-image: url('../images/pizza-on-tray.png');
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: -100px 30px;
}

.hero ._1{
    flex: 1.5!important;
}

.hero ._1,
.hero ._2{
    flex: 1;
    position: relative;
    height: 100%;
}

.hero ._1{
    overflow: hidden!important;
}

.hero ._1 .pizza{
    position: absolute;
    top: 50px;
    left: -50px;
}

.hero ._1 .motoboy{
    width: 220px;
    z-index: 1001;
    position: absolute;
    right: 0;
    top: 80px;
}

.hero ._2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
    padding-left: 50px;
}

.hero ._2 h1{
    color: #EBEAE3;
    font-family: "Anton", sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}

.hero ._2 h1 span{
    color: #FF9E19;
}

.hero ._2 .large-text{
    color: #EBEAE3;
    font-family: "Manrope";
    font-size: 1.1em;
}

.hero ._2 .btn{
    color: black;
    background: #FF9E19;
    border-radius: 2px;
    font-family: "Anton", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 15px 0;
    max-width: 202px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4);
}

.hero ._2 .btn img{
    width: 1.2em;
    margin-right: 5px;
}

.hero ._2 .small-text{
    color: #EBEAE3;
    font-family: "Manrope";
    font-size: .90em;
}

.hero ._2 .follow-us{
    position: absolute;
    bottom: 20px;
    right: 15%;
    float: right;
}

.hero ._2 .follow-us a{
    margin: 0 8px;
}

.hero ._2 .follow-us a img{
    width: 25px;
}

@media(max-width: 670px){
    header{
        padding: 0 10%!important;
    }
    
    header #btn-menu{
        display: block;
    }

    header nav{
        position: absolute;
        display: none;
    }

    header nav ul{
        flex-direction: column;
    }
    
    .hero{
        height: 100vh;
    }
    
    .hero ._1{
        display: none;
    }

    .hero::before{
        background-size: 300px!important;
        background-position: -100px 300px!important;
    }

    .hero ._2{
        flex: 2;
        padding: 0 10%;
    }
}

@media(max-width: 992px){
    header{
        padding: 0 5%;
    }
    
    .hero::before{
        background-size: 600px;
        background-position: -100px 30px;
    }

    .hero ._2{
        flex: 2;
        padding-right: 6%;
    }
}

@media(max-width: 1200px){
    header{
        padding: 0 4%;
    }

    .hero ._2{
        /* flex: 2; */
        padding-right: 4%;
    }
}